.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: var(--bg-color);
    padding: 16px 30px;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set-pinter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition: 0.3s;
    &:hover {
        background-color: var(--bg-icon-hover);
        transition: 0.3s;
    }
}

.faPinterest {
    font-size: 24px;
    color: #e60023;
}

.info-for-you {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.message {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 12px;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: var(--bg-icon-hover);
        transition: 0.3s;
    }
    .faCommentDots {
        line-height: 24px;
        font-size: 24px;
        color: #767676;
    }
    .message-modal-list {
        position: absolute;
        top: 70px;
        right: 60px;
        width: 250px;
        border-radius: 15px;
        background-color: var(--bg-icon-hover);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 5px;

        z-index: 10;
    }
}

.profile {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 12px;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: var(--bg-icon-hover);
        transition: 0.3s;
    }
    .faUser {
        line-height: 24px;
        font-size: 24px;
        color: #767676;
    }
}
.header-wrap-mobile {
    display: none;
}

.menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
        background-color: var(--bg-icon-hover);
        transition: 0.3s;
    }
    .faAngleDown {
        font-size: 20px;
        color: #767676;
    }
    .menu-modal-list {
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;

        border-radius: 15px;
        background-color: var(--bg-icon-hover);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 5px;

        z-index: 10;
    }
}
.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
        background-color: var(--bg-theme);
        transition: 0.3s;
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 15px 30px;
    }
    .set-pinter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }
    .faPinterest {
        font-size: 22px;
    }
    .message {
        width: 30px;
        height: 30px;
        padding: 0 10px;
        .faCommentDots {
            line-height: 22px;
            font-size: 22px;
        }
        .message-modal-list {
            top: 50px;
        }
    }

    .profile {
        width: 30px;
        height: 30px;
        padding: 0 10px;
        .faUser {
            line-height: 22px;
            font-size: 22px;
        }
    }

    .menu {
        width: 30px;
        height: 30px;
        padding: 0 10px;
        .faAngleDown {
            font-size: 18px;
        }
    }
    .theme {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 796px) {
    .header {
        width: 100%;
        position: fixed;
        z-index: 3;
        left: 0;
        top: auto;
        bottom: 0;
        background-color: var(--bg-color);
        padding: 16px 50px;
    }
    .header-wrap-mobile {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .header-wrap {
        display: none;
    }

    .set-pinter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .faHome {
        line-height: 24px;
        font-size: 24px;
    }
    .faPlus {
        line-height: 24px;
        font-size: 24px;
    }

    .faCommentDots {
        line-height: 24px;
        font-size: 24px;
    }

    .faUser {
        line-height: 24px;
        font-size: 24px;
    }
}
